# `pandas`: Propojení dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/propojeni-dat

In [2]:
import pandas

### Načtení dat

Data, se kterými budeme pracovat, si můžeš stáhnout zde:
* [studenti.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/studenti.csv)
* [predsedajici.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/predsedajici.csv)

In [3]:
studenti = pandas.read_csv("studenti.csv")
studenti.head()
# studenti.info()

   cisloStudenta             jmeno
0              1    Jana Zbořilová
1              2      Lukáš Jurčík
2              3       Pavel Horák
3              4     Pavel Kysilka
4              5  Kateřina Novotná

In [4]:
predsedajici = pandas.read_csv("predsedajici.csv")
predsedajici.head()
# predsedajici.info()

       datum             jmeno  den
0  20.5.2019  Marie Zuzaňáková  po
1  21.5.2019  Marie Zuzaňáková   út
2  22.5.2019     Petr Ortinský   st
3  23.5.2019     Petr Ortinský   čt
4  24.5.2019   Alena Pniáčková   pá

Také budeme potřebovat tabulku `maturita.csv`, kterou jsme si vytvořili minulou lekci. Pokud jí nemáš po ruce, stáhni si jí zde: [maturita.csv](https://raw.githubusercontent.com/lutydlitatova/python-jaro-2023/main/notebook/maturita.csv)

In [6]:
maturita = pandas.read_csv("maturita.csv")
maturita.head()
# maturita.info()

   cisloStudenta           predmet  znamka den mistnost
0              1            Chemie     NaN  pá     u202
1              2           Dějepis     3.0  pá     u202
2              3        Matematika     2.0  út     u202
3              2  Společenské vědy     2.0  pá     u202
4              4          Biologie     1.0  pá     u202

### Propojení dat pomocí `merge`
Jak `pandas` pozná, podle kterých sloupců data propojit? Jak můžeme sloupce, podle kterých chceme data propojit, specifikovat?

In [7]:
maturita_se_studenty = pandas.merge(maturita, studenti)
maturita_se_studenty

    cisloStudenta           predmet  znamka den mistnost              jmeno
0               1            Chemie     NaN  pá     u202     Jana Zbořilová
1               1           Zeměpis     NaN  pá     u302     Jana Zbořilová
2               2           Dějepis     3.0  pá     u202       Lukáš Jurčík
3               2  Společenské vědy     2.0  pá     u202       Lukáš Jurčík
4               3        Matematika     2.0  út     u202        Pavel Horák
5               3            Chemie     5.0  út     u202        Pavel Horák
6               4          Biologie     1.0  pá     u202      Pavel Kysilka
7               4       Informatika     1.0  pá     u302      Pavel Kysilka
8               5           Dějepis     1.0  po     u202   Kateřina Novotná
9               5  Společenské vědy     3.0  po     u203   Kateřina Novotná
10              6            Fyzika     2.0  čt     u202  Marie Krejcárková
11              6        Matematika     5.0  čt     u302  Marie Krejcárková
12              7           Dějepis     4.0  po     u202        Vasil Lácha
13              7       Informatika     3.0  po     u203        Vasil Lácha
14              8        Matematika     2.0  po     u202     Alexey Opatrný
15              8           Zeměpis     1.0  po     u203     Alexey Opatrný
16              9           Dějepis     NaN  pá     u202       Petr Valenta
17              9  Společenské vědy     NaN  pá     u203       Petr Valenta
18             10            Chemie     2.0  st     u202    Miroslav Bednář
19             10           Dějepis     5.0  st     u202    Miroslav Bednář
20             11        Matematika     1.0  st     u202    Ivana Dvořáková
21             11            Chemie     5.0  st     u302    Ivana Dvořáková
22             12          Biologie     4.0  st     u202     Lenka Jarošová
23             12            Fyzika     3.0  st     u203     Lenka Jarošová
24             13        Matematika     5.0  po     u203         Arnošt Sas
25             13            Chemie     4.0  po     u302         Arnošt Sas
26             14            Fyzika     3.0  st     u203    Marie Kortusová
27             14           Dějepis     3.0  st     u302    Marie Kortusová
28             15            Chemie     3.0  pá     u203    Monika Dudysová
29             15  Společenské vědy     3.0  pá     u203    Monika Dudysová
30             16       Informatika     2.0  út     u203   Josef Vodseďálek
31             16          Biologie     2.0  út     u302   Josef Vodseďálek
32             17            Fyzika     4.0  po     u203     Antonín Hlídek
33             17        Matematika     3.0  po     u302     Antonín Hlídek
34             19       Informatika     NaN  po     u203       Filip Lacina
35             19  Společenské vědy     NaN  po     u302       Filip Lacina
36             20            Fyzika     2.0  čt     u203     Marta Kinclová
37             20        Matematika     1.0  čt     u302     Marta Kinclová
38             21          Biologie     4.0  st     u203  Martina Korbářová
39             21       Informatika     4.0  st     u302  Martina Korbářová
40             22           Zeměpis     3.0  út     u203         Petr Tábor
41             22       Informatika     3.0  út     u302         Petr Tábor

Propojení dat o maturitě s daty o předsedajících se nepovede. Proč? Na základě kterého sloupce nebo kterých sloupců chceme data propojit? Budeme také muset vyřešit záhadu poztrácených dat.

In [10]:
maturita_s_predsedajicimi = pandas.merge(maturita_se_studenty, predsedajici, on=['den'])
maturita_s_predsedajicimi
#maturita_s_predsedajicimi = pandas.merge(maturita_se_studenty, predsedajici, on=['den'], how="left")
#maturita_s_predsedajicimi #overeni, zda se nam neztratily radky

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,1,Chemie,NaN,pá,u202,Jana Zbořilová,24.5.2019,Alena Pniáčková
1,1,Zeměpis,NaN,pá,u302,Jana Zbořilová,24.5.2019,Alena Pniáčková
2,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
3,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
4,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
5,4,Informatika,1.0,pá,u302,Pavel Kysilka,24.5.2019,Alena Pniáčková
6,9,Dějepis,NaN,pá,u202,Petr Valenta,24.5.2019,Alena Pniáčková
7,9,Společenské vědy,NaN,pá,u203,Petr Valenta,24.5.2019,Alena Pniáčková
8,15,Chemie,3.0,pá,u203,Monika Dudysová,24.5.2019,Alena Pniáčková
9,15,Společenské vědy,3.0,pá,u203,Monika Dudysová,24.5.2019,Alena Pniáčková
10,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
11,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
12,16,Informatika,2.0,út,u203,Josef Vodseďálek,21.5.2019,Marie Zuzaňáková
13,16,Biologie,2.0,út,u302,Josef Vodseďálek,21.5.2019,Marie Zuzaňáková
14,22,Zeměpis,3.0,út,u203,Petr Tábor,21.5.2019,Marie Zuzaňáková
15,22,Informatika,3.0,út,u302,Petr Tábor,21.5.2019,Marie Zuzaňáková
16,5,Dějepis,1.0,po,u202,Kateřina Novotná,20.5.2019,Marie Zuzaňáková
17,5,Společenské vědy,3.0,po,u203,Kateřina Novotná,20.5.2019,Marie Zuzaňáková
18,7,Dějepis,4.0,po,u202,Vasil Lácha,20.5.2019,Marie Zuzaňáková
19,7,Informatika,3.0,po,u203,Vasil Lácha,20.5.2019,Marie Zuzaňáková
20,8,Matematika,2.0,po,u202,Alexey Opatrný,20.5.2019,Marie Zuzaňáková
21,8,Zeměpis,1.0,po,u203,Alexey Opatrný,20.5.2019,Marie Zuzaňáková
22,13,Matematika,5.0,po,u203,Arnošt Sas,20.5.2019,Marie Zuzaňáková
23,13,Chemie,4.0,po,u302,Arnošt Sas,20.5.2019,Marie Zuzaňáková
24,17,Fyzika,4.0,po,u203,Antonín Hlídek,20.5.2019,Marie Zuzaňáková
25,17,Matematika,3.0,po,u302,Antonín Hlídek,20.5.2019,Marie Zuzaňáková
26,19,Informatika,NaN,po,u203,Filip Lacina,20.5.2019,Marie Zuzaňáková
27,19,Společenské vědy,NaN,po,u302,Filip Lacina,20.5.2019,Marie Zuzaňáková
28,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
29,6,Matematika,5.0,čt,u302,Marie Krejcárková,23.5.2019,Petr Ortinský
30,20,Fyzika,2.0,čt,u203,Marta Kinclová,23.5.2019,Petr Ortinský
31,20,Matematika,1.0,čt,u302,Marta Kinclová,23.5.2019,Petr Ortinský
32,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
33,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
34,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
35,11,Chemie,5.0,st,u302,Ivana Dvořáková,22.5.2019,Petr Ortinský
36,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský
37,12,Fyzika,3.0,st,u203,Lenka Jarošová,22.5.2019,Petr Ortinský
38,14,Fyzika,3.0,st,u203,Marie Kortusová,22.5.2019,Petr Ortinský
39,14,Dějepis,3.0,st,u302,Marie Kortusová,22.5.2019,Petr Ortinský
40,21,Biologie,4.0,st,u203,Martina Korbářová,22.5.2019,Petr Ortinský
41,21,Informatika,4.0,st,u302,Martina Korbářová,22.5.2019,Petr Ortinský

In [11]:
predsedajici.head()
predsedajici["den"] = predsedajici["den"].str.strip() #odstraneni nadbytecnych mezer

# `pandas`: Agregace dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/agregace

In [12]:
maturita_s_predsedajicimi.groupby("predmet")

In [13]:
maturita_s_predsedajicimi.groupby("predmet")["znamka"]

In [14]:
maturita_s_predsedajicimi.groupby("predmet")["znamka"].mean()

predmet
Biologie            2.750000
Chemie              3.800000
Dějepis             3.200000
Fyzika              2.800000
Informatika         2.600000
Matematika          2.714286
Společenské vědy    2.666667
Zeměpis             2.000000
Name: znamka, dtype: float64

##### dalsi budou sum, max, min, first, last, mean, median, var, std,

In [15]:
maturita_s_predsedajicimi.groupby("predmet")["znamka"].max()

predmet
Biologie            4.0
Chemie              5.0
Dějepis             5.0
Fyzika              4.0
Informatika         4.0
Matematika          5.0
Společenské vědy    3.0
Zeměpis             3.0
Name: znamka, dtype: float64

In [24]:
staty = pandas.read_json("staty.json")
staty["population_density"] = staty["population"] / staty["area"]
staty = staty.sort_values("population_density", ascending=False)
#staty = staty.set_index("name")
#print(staty.loc["Macao"]) # zjednodusi vypis hodnot toho statu
staty

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini,population_density
131,Macao,MO,MAC,,Asia,Eastern Asia,649100,30.00,NaN,21636.666667
147,Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN,19009.900990
202,Singapore,SG,SGP,Singapore,Asia,South-Eastern Asia,5535000,710.00,48.1,7795.774648
101,Hong Kong,HK,HKG,City of Victoria,Asia,Eastern Asia,7324300,1104.00,53.3,6634.329710
86,Gibraltar,GI,GIB,Gibraltar,Europe,Southern Europe,33140,6.00,NaN,5523.333333
...,...,...,...,...,...,...,...,...,...,...
171,"Palestine, State of",PS,PSE,Ramallah,Asia,Western Asia,4682467,NaN,35.5,NaN
183,Réunion,RE,REU,Saint-Denis,Africa,Eastern Africa,840974,NaN,NaN,NaN
188,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,Jamestown,Africa,Western Africa,4255,NaN,NaN,NaN
209,South Georgia and the South Sandwich Islands,GS,SGS,King Edward Point,Americas,South America,30,NaN,NaN,NaN
216,Svalbard and Jan Mayen,SJ,SJM,Longyearbyen,Europe,Northern Europe,2562,NaN,NaN,NaN

`size` vs `count`
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.size.html
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.count.html

In [16]:
maturita_s_predsedajicimi.groupby("predmet").count()

,cisloStudenta,znamka,den,mistnost,jmeno_x,datum,jmeno_y
predmet,,,,,,,
Biologie,4,4,4,4,4,4,4
Chemie,6,5,6,6,6,6,6
Dějepis,6,5,6,6,6,6,6
Fyzika,5,5,5,5,5,5,5
Informatika,6,5,6,6,6,6,6
Matematika,7,7,7,7,7,7,7
Společenské vědy,5,3,5,5,5,5,5
Zeměpis,3,2,3,3,3,3,3

In [17]:
maturita_s_predsedajicimi.groupby("predmet").size()

predmet
Biologie            4
Chemie              6
Dějepis             6
Fyzika              5
Informatika         6
Matematika          7
Společenské vědy    5
Zeměpis             3
dtype: int64